.App {
  background: #EFEFEF;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 8% 92%;
}

header {
  background: #EFEFEF;
  border-bottom: 2px silver solid;
  box-sizing: border-box;
  height: 100%;
}

main {
  background: #EFEFEF;
  box-sizing: border-box;
  height: 100%;
  padding: 3%;
}