.ControlForm {
  height: 100%;
  background: white;
  box-shadow: $shadow-box;
  display: grid;
  grid-template-areas: "project" "ColorGenerator" "palettes";
  grid-template-rows: 12% 55% 33%;
}

.project {
  padding: 0 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

    input {
      height: 2.5rem;
      padding: 0 10px;
      font-size: 22px;
    }
}

.project-controls {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    font-size: 20px;
    margin: 0;
    height: 2.5rem;
    border-radius: 40px;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
      color: white;
      background: $inputColor-hover;
    }
  }
}

.ColorGenerator {
  background: slategray;
}

.palettes {
  padding: 20px;
  display: flex;
  // justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
}

.palette-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 270px;
  border: slateblue 2px ridge;
  border-radius: 40px;
  padding: 0 15px;
  margin: 10px auto;
}

.colors-preview {
  display: flex;

}

.color-preview {
  content: '';
  height: 30px;
  width: 30px;
  border: ridge silver 2px;
}